.grid-container {
  display: grid;
  width: 700px;
  height: 700px;
  background-color: #2196F3;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}
.grid-item {
  background:white;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.color-picker {
  height: 100px;
  width: 100px;
}